*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body{
 background-color: rgba(3, 3, 39, 0.824);
}
.container{
 min-height: 80vh;
 margin: 2rem ;

}
.box{
 padding: 2rem;

}

.box-1{
 background:rgb(249, 42, 19);
}
.box-2{
 background: rgb(248, 151, 39);
}
.box-3{
 background: rgb(5, 117, 214);
}
.box-4{
 background: rgb(8, 198, 251);
}
.box-5{
 background: rgb(8, 198, 251);
}